:root{
  --yellow: #f5c32c;
  --orange:#fca61f;
  --black:#242d49;
  --gray:rgba(36,45,73,0.65);
  --profileShadow:0px 4px 17px 2px rgba(0,0,0,0.25);
  --hrcolor:#cfcdcd;
  --cardColor: rgba(255,255,255,0.64);
  --buttonBg:linear-gradient(98.63deg,#f9a225 0%,#f9535 100%);
  --inputColor:rgba(40,52,62,0.07);
  --photo:#4cb256;
  --video:#4a4eb7;
  --shedule : #e1ae4a;
}

.App{
  background-color: rgb(234, 241, 207);
  padding: 10px 10px;
  overflow: hidden;
  color: var(--black);
}

.blur{
  background-color: #ec4325;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 100px;
  filter: blur(76px);
}