.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position:relative;
    gap:1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.ProfileImage{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImage>img:nth-of-type(1){
    width: 100%;
}

.ProfileImage>img:nth-of-type(2){
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);

}


.ProfileName{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.65rem;
}
.ProfileName>span{
    font-weight: bold;
}


/* follower */
.Follower{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.Follower>hr{
    width: 85%;
    border: 1px solid var(--hrcolor);
}

.Follower>div{
    display: flex;
    flex-direction: column;
    justify-content: 
    space-around;
    align-items: center;
    gap: 1rem;
}
.vl{
    height:80% ;
    border-left: 2px solid var(--hrcolor);
    
}